@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;800;900&display=swap');

/*----------- GLOBAIS ----------------- */

:root {
    --color-green: #50fa7b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #121213;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.divider {
    height: 1px;
    background: linear-gradient(270deg, var(--color-green), #282a36);
    margin-top: 2rem;
}

.title {
    text-align: center;
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
}
  
/*----------- HEADER É NAV ----------------- */

header {
    padding: 1.3rem;
    border-bottom: 0.1rem solid #46af60ad;
    background-color: #101011;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header div {
    text-align: center;
}

header div a {
    color: white;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0 1rem;
    padding-bottom: 0.18rem;
    text-decoration: none;
    transition: color 0.2s;
    position: relative;
    cursor: pointer;
}

header div a:hover {
    color: var(--color-green);   
}

header div a::after {
    content: "";
    width: 0%;
    height: 0.125rem;
    background: var(--color-green);
  
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    transition: 0.3s;
}
  
header div a:hover::after {
  width: 100%;
}

/*----------- MAIN WRAPPER ----------------- */

main {
    margin-top: 8rem;
}

main .wrapper {
    text-align: center;
    padding: 2rem;
    position: relative;
}

main .wrapper img {
    border-radius: 50%;
    border: 0.31rem solid var(--color-green);
    margin-bottom: 1rem;
    height: 15.625rem;
}

main .wrapper h1 {
    font-size: 2.625rem;
    line-height: 3.25rem;
    font-weight: 700;
}

main .wrapper span {
    content: "";
    width: 15.625rem;
    height: 0.125rem;
    background: var(--color-green);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

main .wrapper h2 {
    font-size: 1.5rem;
    font-weight: normal;
    opacity: 0.9;
}

main .wrapper p {
    max-width: 31.25rem;
    margin: 1rem auto;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

main .wrapper p::after {
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: pisca .9s infinite;
    color: #50fa7b;
}

@keyframes pisca{
    0%, 100% {
    opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

main .wrapper a {
    text-decoration: none;
    color: var(--color-green);
    cursor: pointer;
    transition: 0.3s;
    margin: 0.7rem;
    font-size: 1.2rem;
    opacity: 0.9;
}

main .wrapper a:hover{
    color: #0eff4a;
    opacity: 1;
}

/*----------- CARDS ----------------- */

.projects{
    max-width: 100%;
    margin: 0 auto;
}

.cards {
    max-width: 77.5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.card {
    background-color: #1c1c1d;
    margin-bottom: 1rem;
    border-radius: 4px;
    padding-top: 1rem;
    border: 3px solid #121213;
    transition: 0.5s;
}

.card-image img{
    width: 300px;
    border-radius: 4px 4px 4px 0px;
    display: grid;
    margin: 1rem auto;
    box-shadow: 8px -7px 1px 0px #ffffff;
}

.card-content {
    padding: 24px;
}
 
.info {
    display: grid;
    padding: 1rem 1.25rem;
    place-items: center;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
    color: #40cf64;
}

.info:hover {
    color: #00ff40;
}

.info.disabled {
    color: #727272;
    cursor: default;
}

.card-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.125rem;
}

.card:hover{
    border: 3px solid var(--color-green);
}

.cards2 .title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0rem;
    margin-bottom: 0;
}

/*----------- SERVICES ----------------- */

.services{
    max-width: 100%;
    margin: 0 auto;
}

.services .cards2 {
    max-width: 65rem;
    height: 25rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.services .card-image2 img{
    width: 60px;
    display: grid;
    margin: 1rem auto;
}

.services .card-image2.first img{
    width: 75px;
    display: grid;
    margin: 0.6rem auto;
}

.services .cards2 .card-content {
    padding: 5px 55px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

/*----------- SKILLS ----------------- */

.skills-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 1090px;
    gap: 2rem;
}

.skills-content .skill-image img {
    width: 510px;
    border-radius: 4px;
    margin-top: 40px;
    transition: 0.3s;
    /* box-shadow: 0 4px 10px #50fa7a17; */
    border: solid 1px #50fa7b;
    box-shadow: 0 2px 10px 0 rgb(163 255 191 / 26%);
}

.skill.container {
    margin-bottom: 2rem;
}

.text-skills{
    margin-bottom: 2rem;
}
.text-skills h1{
    margin-bottom: 0.5rem;
}
.skills-names{
    display: flex;
    align-items: center;
}

.skills-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--color-green);
    height: .25rem;
    border-radius: .5rem;
    z-index: -10;
}
.skills-html{
    width: 100%;
}
.skills-css{
    width: 90%;
}
.skills-js{
    width: 80%;
}
.skills-node{
    width: 50%;
}
.skills-react{
    width: 50%;
}

.skills-data{
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
font-weight: 600;
padding: .7rem 1rem;
margin-bottom: 2rem;
border-radius: .5rem;
box-shadow: 0 2px 10px 0 #a3ffbf26;
}

/* contact */

.contact{
    margin-right: auto;
    margin-left: auto;
    width: 35%;
}


.contact-input{
    width: 100%;
    padding: 1rem;
    outline: none;
    border-radius: .5rem;
    border: 1.5px solid var(--color-green);
    margin-bottom: 2rem;
}
.contact-button{
    width: 100%;
    display: block;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: var(--color-green);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: 600;
    border-radius: .5rem;
}

/* Footer */

.footer{
    margin-bottom: 20px;
}

.footer p{
    margin-top: 20px;
    text-align: center;
}

.footer .sociais{
    display: flex;
    justify-content: center;
}
.footer .sociais img{
    margin: auto 1rem;
}

/* Reesponsivo */

@media (max-width: 970px) {
    .cards {
        max-width: 62.5rem;
        margin: 0 0.25rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.25rem;
    }
    
    main .wrapper a {
        text-decoration: none;
        color: var(--color-green);
        cursor: pointer;
        transition: 0.3s;
        margin: 0.9rem;
        font-size: 1.2rem;
        opacity: 0.9;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .cards {
        max-width: 62.5rem;
        margin: 0 0.25rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.25rem;
    }
}